In [1]:
import pandas as pd

In [2]:
netflix = pd.read_csv("../Kaggle/archive/netflix_titles.csv")

In [4]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
movies = netflix["type"] == "Movie"
netflix[movies].head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...

In [5]:
# 正規表現
comedies = netflix["listed_in"].str.contains(r'Comed.*')
netflix[comedies].head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
10,80169755,Movie,Joaquín Reyes: Una y no más,José Miguel Contreras,Joaquín Reyes,NaN,"September 8, 2017",2017,TV-MA,78 min,Stand-Up Comedy,Comedian and celebrity impersonator Joaquín Re...

In [6]:
made_in_nineties = netflix["release_year"].between(1990,1999)
netflix[made_in_nineties].head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
301,1151375,Movie,Dante's Peak,Roger Donaldson,"Pierce Brosnan, Linda Hamilton, Elizabeth Hoff...",United States,"September 1, 2019",1997,PG-13,108 min,Action & Adventure,When a volcanologist comes to investigate the ...
326,1153194,Movie,The Saint,Phillip Noyce,"Val Kilmer, Elisabeth Shue, Rade Serbedzija, V...",United States,"September 1, 2019",1997,PG-13,116 min,"Action & Adventure, Romantic Movies",Hired by a Russian politician to steal the for...
346,70055221,Movie,Solo Con Tu Pareja,Alfonso Cuarón,"Luis de Icaza, Dobrina Liubomirova, Isabel Ben...",Mexico,"September 1, 2018",1991,NR,94 min,"Comedies, Independent Movies, International Mo...",A yuppie playboy looks for a quick death after...
353,17672040,Movie,The River Wild,Curtis Hanson,"Meryl Streep, Kevin Bacon, David Strathairn, J...",United States,"September 1, 2018",1994,PG-13,111 min,Action & Adventure,A turbulent vacation turns deadly when a fugit...
610,80236356,Movie,Monty Python: Live at Aspen,NaN,"Robert Klein, John Cleese, Terry Gilliam, Eric...",United States,"October 2, 2018",1998,TV-MA,58 min,"Comedies, Documentaries",The members of Monty Python reunite on stage t...

In [7]:
# And 検索
netflix[movies & comedies & made_in_nineties].head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
346,70055221,Movie,Solo Con Tu Pareja,Alfonso Cuarón,"Luis de Icaza, Dobrina Liubomirova, Isabel Ben...",Mexico,"September 1, 2018",1991,NR,94 min,"Comedies, Independent Movies, International Mo...",A yuppie playboy looks for a quick death after...
610,80236356,Movie,Monty Python: Live at Aspen,NaN,"Robert Klein, John Cleese, Terry Gilliam, Eric...",United States,"October 2, 2018",1998,TV-MA,58 min,"Comedies, Documentaries",The members of Monty Python reunite on stage t...
622,60001650,Movie,Men in Black,Barry Sonnenfeld,"Tommy Lee Jones, Will Smith, Linda Fiorentino,...",United States,"October 19, 2019",1997,PG-13,98 min,"Action & Adventure, Comedies, Sci-Fi & Fantasy",A streetwise cop teams with a veteran governme...
781,269880,Movie,Bad Boys,Michael Bay,"Will Smith, Martin Lawrence, Téa Leoni, Tchéky...",United States,"October 1, 2019",1995,R,119 min,"Action & Adventure, Comedies","In this fast-paced actioner, two Miami narcoti..."
794,81168345,Movie,"Escape from the ""Liberty"" Cinema",Wojciech Marczewski,"Janusz Gajos, Zbigniew Zamachowski, Teresa Mar...",Poland,"October 1, 2019",1990,TV-MA,88 min,"Comedies, Dramas, Independent Movies",Artistic rebellion ignites at the movies when ...

In [8]:
# Sort　降順
netflix[movies & comedies & made_in_nineties].sort_values("release_year").head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3590,60033108,Movie,Tremors,Ron Underwood,"Kevin Bacon, Fred Ward, Finn Carter, Michael G...",United States,"January 1, 2020",1990,PG-13,96 min,"Comedies, Cult Movies, Horror Movies",After a seismologist gets unusual readings on ...
794,81168345,Movie,"Escape from the ""Liberty"" Cinema",Wojciech Marczewski,"Janusz Gajos, Zbigniew Zamachowski, Teresa Mar...",Poland,"October 1, 2019",1990,TV-MA,88 min,"Comedies, Dramas, Independent Movies",Artistic rebellion ignites at the movies when ...
4975,70014531,Movie,"Look Out, Officer",Sze Yu Lau,"Stephen Chow, Bill Tung, Stanley Sui-Fan Fung,...",Hong Kong,"August 16, 2018",1990,TV-MA,88 min,"Action & Adventure, Comedies, International Mo...",An officer killed on the job returns to Earth ...
3568,1029730,Movie,Teenage Mutant Ninja Turtles: The Movie,Steve Barron,"Judith Hoag, Elias Koteas, Josh Pais, Michelan...",NaN,"January 1, 2020",1990,PG,94 min,"Action & Adventure, Comedies","After exposure to a strange, glowing ooze, fou..."
4263,81045509,Movie,Tim Allen: Men Are Pigs,Ellen Brown,Tim Allen,United States,"December 31, 2018",1990,TV-14,30 min,Stand-Up Comedy,Standup comedian Tim Allen delivers a set dedi...